<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>少年_Jump</title>
    <meta name="keywords" content="少年_Jump"/>
    <meta name="description" content="少年_Jump"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="global/assets/base.css" th:href="@{/global/assets/base.css}" rel="stylesheet">
    <link href="global/assets/index.css" th:href="@{/global/assets/index.css}" rel="stylesheet">
    <link href="global/assets/m.css" th:href="@{/global/assets/m.css}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
    <script>
        window.onload = function () {
            var oH2 = document.getElementsByTagName("h2")[0];
            var oUl = document.getElementsByTagName("ul")[0];
            oH2.onclick = function () {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
</head>
<body>
<div th:replace="tags/jump_group :: jp_header"></div>
<article>
    <h1 class="t_nav"><span>欢迎来到少年_Jump </span><a href="/" class="n1">网站首页</a></h1>
    <div class="picbox">
        <ul>
            <li th:each="caricature : ${caricatures}" th:if="${caricature.isAction}">
                <a href="/" th:href="@{'/visit'+${caricature.path}(caricatureId=${caricature.id})}"><i><img
                        src="images/b01.jpg" th:src="${caricature.path} + '/' + ${caricature.name} + '.jpg'"></i>
                    <div class="picinfo">
                        <h3 th:text="${caricature.title}"></h3>
                        <span th:text="${caricature.message}" th:alt-title="${caricature.message}"></span></div>
                </a>
            </li>
        </ul>
    </div>
    <div th:replace="tags/jump_group :: jp_sidebar"></div>
</article>
<div th:replace="tags/jump_group :: jp_footer"></div>
<script src="js/nav.js" th:src="@{/global/assets/nav.js}"></script>
<script th:src="@{/global/vendors/jquery-1.9.1.js}"></script>
<script type="text/javascript">
    $('.message span').each(function () {
        var words = $(this).text().length;
        if (words > 80) {
            $(this).text($(this).text().slice(0, 80) + "...");
        }
    });

    $('.picinfo span').each(function () {
        var words = $(this).text().length;
        if (words > 47) {
            $(this).text($(this).text().slice(0, 47) + "...");
        }
    });
</script>
</body>
</html>
